<%- include('partials/header',{title}) %>
<h1 style="color:var(--red)"><span class="pre">//</span> <%= title %></h1>
<div class="panel"><div class="mono"><%= msg %></div><p style="margin-top:10px"><a href="/">&larr; Zurueck zum Knoten</a></p></div>
<%- include('partials/footer') %>
